img {
  width: 200px;
  height: 200px;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#dishes {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 15px;
}

#dishes > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dishtext {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

button {
  border: 0;
  align-self: flex-start;
  border-radius: 4px;
  padding: 15px 30px 15px 30px;
  background-color: #0891b2;
  font-size: 1.3rem;
}